body {
	font-family:  Nunito, 'Open Sans', Arial;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

.container {
	width: 100%;
	
}
.content {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.header-container {
	background-color: black;
	border-bottom: 1px solid white;
}
.header-content {
	height: 70px;
	display: flex;
	justify-content: space-between;
}
.header-logo,.header-nav {
	line-height: 70px;
	margin: 0px 20px;
}
.header-logo {
	color: white;
	font-size: 2rem;
}
.header-logo-span {
	color: orange;
	font-weight: 400;
}

.header-nav-link {
	color: white;
	margin-right: 25px;
}
.header-nav-link:last-child {
	margin-right: 0px;
}
.home-container {
	background-image: url('images/bg.jpg');
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
}
.home-overlay,.design-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.5);
	z-index: 5;
}

.home-content {
	position: relative;
	padding: 100px 0px;
	z-index: 10;
	display: flex;
	justify-content: space-between;
}



